[Unit]
Description=Smashrooms2 - Multiplayer 2D platformer shooter designed to run in your browser

[Service]
# Make sure to change this!
WorkingDirectory=/home/user/smashrooms2/staticServer/
ExecStart=/usr/bin/npm run prod

[Install]
WantedBy=default.target
