.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
}

.toast__notification {
  background-color: white;
  height: 2em;
  display: flex;
  gap: 0.5em;
  padding: 5px;
  image-rendering: pixelated;
  animation: slideInRight 0.2s linear forwards;
}

.toast__notification + .toast__notification {
  margin-top: 20px;
}

.toast__notification__icon {
  animation: jitter 0.4s ease-in-out infinite;
}
