.easel {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-position: center top;
  background-size: 100% auto;
}

.easel__prop-sprite {
  position: absolute;
  /* transition: all 0.1s ease-in-out; */
}

.easel__prop-sprite::after {
  content: attr(tag);

  position: absolute;
  max-width: 150px;
  left: 50%;
  top: -50%;
  transform: translateX(-50%);

  padding: 0 0.5em;
  border-radius: 0.2em;

  background-color: #33fbb8aa;
  z-index: 99;
}

.easel__layout-tile {
  position: absolute;
  border: 1px solid #000000ba;
  border-radius: 5px;
  box-shadow: 4px 6px 9px 0px #00000087;
}

.easel__prop-sprite--hit {
  animation: hit__keyframes 0.2s linear;
}

@keyframes hit__keyframes {
  0% {
    filter: sepia(1) hue-rotate(-50deg) saturate(5);
  }
  100% {
    filter: none;
  }
}
