.easel {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-position: center top;
  background-size: auto 100%;
  user-select: none;
}

.easel__prop-sprite {
  position: absolute;
  /* transition: all 0.1s ease-in-out; */
}

.easel__prop-sprite::after {
  content: attr(tag);

  position: absolute;
  width: max-content;
  max-width: 200px;
  left: 50%;
  top: -50%;
  transform: translateX(-50%);

  padding: 0 0.5em;
  border-radius: 0.2em;

  background-color: #33fbb8aa;
  overflow-y: hidden;
  z-index: 99;
}

.easel__prop-sprite.you::after {
  border: 2.5px ridge var(--easel__prop-sprite--border-color) !important;
}

.easel__layout-tile {
  position: absolute;
  border: 1px solid #000000ba;
  border-radius: 5px;
  box-shadow: 4px 6px 9px 0px #00000087;
}

.easel__prop-sprite--hit {
  animation: hit__keyframes 0.2s linear;
}

@keyframes hit__keyframes {
  0% {
    filter: sepia(1) hue-rotate(-50deg) saturate(10);
  }
  100% {
    filter: none;
  }
}

.easel__prop-sprite--wobble {
  animation: wobble__keyframes 0.5s linear infinite;
}

@keyframes wobble__keyframes {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.easel__prop-sprite--spinY {
  animation: spinY__keyframes 0.5s linear infinite;
}

@keyframes spinY__keyframes {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.easel__prop-sprite--itemSpin {
  animation: itemSpin__keyframes 2s linear infinite;
}

@keyframes itemSpin__keyframes {
  0% {
    transform: rotateY(0deg) translate(0, 0) scale(1.2);
  }
  50% {
    transform: rotateY(360deg) translate(0, 2px) scale(1.5);
  }
  100% {
    transform: rotateY(0deg) translate(0, 0) scale(1.2);
  }
}

.easel__prop-sprite--appear {
  animation: appear__keyframes 80ms linear;
}

@keyframes appear__keyframes {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

.easel__prop-sprite--heal {
  animation: appear__heal 500ms linear;
}

@keyframes appear__heal {
  0% {
    filter: drop-shadow(0 0 10px rgba(0, 255, 0, 0.8)) brightness(2);
  }
  50% {
    filter: drop-shadow(0 0 10px rgba(0, 255, 0, 0.6)) brightness(1.1);
  }
  100% {
    filter: drop-shadow(0 0 30px rgba(0, 255, 0, 0)) brightness(1);
  }
}
