.editor {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  user-select: none;
}

.editor * {
  z-index: 99;
}

.editor__toolbar {
  height: 30px;
  background: white;
}

.editor__statusbar {
  height: 20px;
  background: white;
}

.editor__workplace {
  z-index: 80;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.editor__workplace__left-sidebar {
  min-width: 100px;
  width: 20%;
  background: wheat;
  display: flex;
  flex-direction: column;
}

.editor__workplace__canvas-container {
  z-index: 1;
  flex: 1;
}

.editor__workplace__editor__workplace__canvas-container__canvas {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

.editor__workplace__editor__workplace__canvas-container__canvas__tile {
  box-shadow: 4px 6px 9px 0px #00000087;
}

.editor__workplace__left-sidebar__prop-list {
  height: 50%;
  background: white;
}

.editor__workplace__left-sidebar__palette__tiles-container__palette {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.editor__workplace__left-sidebar__palette__tiles-container__palette__tile {
  box-shadow: 4px 6px 9px 0px #00000087;
}

.editor__workplace__left-sidebar__palette__tiles-container__palette__tile--selected {
  box-sizing: border-box;
  outline: 4px solid slateblue;
}
