html,
body {
  --font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background-color: black;
}
