html {
  --font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  visibility: hidden;
}
.loaded {
  visibility: visible;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background-color: black;
}
